html
{
	background-color: rgb(242,242,242);
}

body
{
	margin: auto;
	width: 850px;
	background-color: white;
	border: 1px black solid;
	box-shadow: 6px 6px 6px grey;
	font-family: Georgia;
	line-height: normal;
}

header
{
 	padding: 14px;
 	background-color: rgb(170,210,230);
}
 
h1
{
	animation-duration: 2s;
	animation-name: moove;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes moove
{
	  from {
    margin-left: 23%;
     
  }

  to {
    margin-left: 0%;

  }
}

.introduction
{
	width: 650px;
 	margin-left: 15px;
}
 
img
{
	float: right;
	height: 203px;
	width: 183px;
}
 
 h2
{
	color: #008080;
}

aside
{
 	float: left;  
    display: flex;
	flex-direction: column;
	width: 270px;
	height: 1124px; 
	background-color: rgb(230,230,230); 
}

.titrec
{
	margin-top: 43px;
	margin-left: 15px;
}

.Contact
{
	margin-right: 10px;
	text-align: center;
}

main
{
	margin-left: 300px;
	margin-top: 38px;
	float: center;
}

footer
{
	background-color: rgb(170,210,230)
}
	
a
{
	margin-left: 115px;
}

